@font-face {
  font-family: "Film Noir";
  src: url("/assets/fonts/FilmNoir-yww7Z.ttf");
}
@font-face {
  font-family: "Film Noir Italic";
  src: url("/assets/fonts/FilmNoirItalic-z887l.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.ttf");
}
