header {
  grid-column: 1 / span 3; /* Spanning all three columns */
  /*background: rgba(0, 0, 0, 0.4)
    linear-gradient(180deg, rgba(0,0,0,0.7), transparent)*/
  position: fixed;
  z-index: 100;
  width: 100%;
  min-height: 90px;
  transition: $transition-medium;
  .nav--top {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    max-width: 400px;
    height: 90px;
    transition: $transition-medium;
    ul {
      flex: 1;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin-right: 30px;
        display: inline-block;
        a {
          text-decoration: none;
          color: #fff;
          font-weight: 400;
        }
      }
    }
  }
  .logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 90px;
    padding: 0 0 0 24px;
    transition: $transition-medium;
  }
  &.sticky {
    min-height: 60px;
    background: $header-sticky-bg;
    .logo {
      width: 160px;
      height: 60px;
    }
    .nav--top {
      height: 60px;
    }
  }
}
.site-logo {
  width: 100%;
}
.burger-menu {
  display: none;
  cursor: pointer;
  font-size: 24px;
}
