<!-- FOOTER -->
<footer id="contact">
  <div class="container">
    <span class="footer-label">06 / Contact</span>
    <h2>Let's <em>build something</em> meaningful.</h2>
    <a href="mailto:best.derek@gmail.com">best.derek@gmail.com</a>

    <div class="message fade-in-content">
      <span class="footer-label">06.1 / Send a personal message</span>
      <form
        class="contact-form"
        static-form
        static-form-id="contact-inquiries"
        method="POST"
      >
        <div class="form-group">
          <label for="client-name">Full Name</label>
          <input
            type="text"
            id="client-name"
            name="full_name"
            placeholder="Jane Doe"
            required
          />
        </div>

        <div class="form-group">
          <label for="client-email">Email Address</label>
          <input
            type="email"
            id="client-email"
            name="email_address"
            placeholder="jane@example.com"
            required
          />
        </div>

        <div class="form-group">
          <label for="message">Leave a Message</label>
          <textarea
            id="message"
            name="coaching_goals"
            placeholder="Let me know what's on your mind"
            required
          ></textarea>
        </div>

        <button type="submit" class="form-submit-btn">Send Message</button>
      </form>
    </div>
  </div>

  <div class="container">
    <div class="footer-bottom">
      <div class="to-top">
        <p><a href="#top">Top of Page</a></p>
      </div>

      <ul class="contact-info">
        <li class="email">
          <a href="mailto:best.derek@gmail.com">best.derek@gmail.com</a>
        </li>

        <li class="linked-in">
          <a href="https://www.linkedin.com/in/Derek-Best" target="_blank"
            >LinkedIn Profile</a
          >
        </li>

        <li class="resume">
          <a href="/assets/docs/Derek-Best-Resume.docx">Resume (DOCX)</a>
        </li>
      </ul>

      <p class="share-icons">SHARE</p>

      <div
        class="a2a_kit a2a_kit_size_32 a2a_default_style"
        id="my_centered_buttons"
        data-a2a-icon-color="#051c2d,#b26f00"
      >
        <a class="a2a_button_facebook"></a>

        <a class="a2a_button_x"></a>

        <a class="a2a_button_linkedin"></a>

        <a class="a2a_button_email"></a>

        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
      </div>

      <ul class="contact-info">
        <li>
          <a href="https://www.cloudflare.com" target="_blank"
            ><img src="/assets/img/cloudflare.png" alt="Cloudflare"
          /></a>
        </li>
        <li>
          <a href="https://www.static.app" target="_blank"
            ><img src="/assets/img/static.png" alt="Static.app"
          /></a>
        </li>
      </ul>
    </div>

    <script async src="https://static.addtoany.com/menu/page.js"></script>
  </div>
</footer>
