<!-- Header -->
<header class="site-header fade-in-on-load">
  <div class="container">
    <div class="header-container header-inner">
      <a href="/" class="logo"
        ><span class="logo--image"
          ><img src="assets/img/selfie-color.png" alt="Derek Best"
        /></span>
      </a>

      <nav id="main-nav" class="main-nav">
        <a href="#work">Work</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
      </nav>
    </div>
  </div>
</header>
<!-- ***** -->
