<title>{{ title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="title" content="Derek Best - Web Designer and Coder" />
<meta
  name="description"
  content="I am a skilled web designer and developer with 20+ years of experience, passionate about creating visually appealing and user-friendly websites. With expertise in front-end development, responsive design, and UI/UX, I strive to deliver seamless digital experiences. My portfolio showcases my proficiency in graphic design, creative problem-solving, and implementing cutting-edge technologies. Hire me to bring your web projects to life and engage your audience with captivating designs and optimized user experiences."
/>
<meta
  name="keywords"
  content="web design, portfolio, responsive design, user experience, UI/UX, front-end development, graphic design, creative design, website development, digital design, visual design, interactive design"
/>
<meta name="robots" content="index, follow" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="language" content="English" />
<meta name="author" content="Derek Best" />
<meta property="og:title" content="Derek Best - Web Designer and Developer" />
<meta
  property="og:description"
  content="Derek Best // Digital design and web development."
/>
<meta property="og:url" content="https://derekbest.com" />
<meta
  property="og:image"
  content="https://derekbest.com/assets/img/og-image.png"
/>
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="derekbest.com" />
<meta property="twitter:url" content="https://derekbest.com" />
<meta name="twitter:title" content="Derek Best - Web Designer and Developer" />
<meta
  name="twitter:description"
  content="Derek Best // Digital design and web development."
/>
<meta
  name="twitter:image"
  content="https://derekbest.com/assets/img/og-image.png"
/>
<link rel="canonical" href="https://derekbest.com/" />

<link rel="apple-touch-icon" href="icon.png" />
<link rel="stylesheet" href="assets/scss/styles.css?v=2.1.4" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css"
  integrity="sha512-QeR2VH+lsBE5LSAe1Q5EnTBbe7XTBubt8dG93Y7gidSgdMCr8nVqKcfKAMyN96SV8KDbZVTDXChatu5G2KQGzg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
